<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:djr_sphere</key>
		<dict>
			<key>CreationDate</key>
			<date>2016-07-06T01:11:08Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>93DFB54E-0E78-4D9E-B292-5113BDDEF2AF</string>
			<key>PageDigests</key>
			<dict>
				<key>IE7/IE7.js</key>
				<dict>
					<key>Digest</key>
					<data>
					nfmcQnFfvGbP+x50bsnhpw==
					</data>
					<key>Size</key>
					<integer>31222</integer>
				</dict>
				<key>IE7/README.txt</key>
				<dict>
					<key>Digest</key>
					<data>
					ozFsB75seQo0rRq3m49Rkg==
					</data>
					<key>Size</key>
					<integer>1119</integer>
				</dict>
				<key>IE7/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					Rb7Lsbo0hvqZYbnEdhTSoA==
					</data>
					<key>Size</key>
					<integer>48</integer>
				</dict>
				<key>IE7/ie7-core.js</key>
				<dict>
					<key>Digest</key>
					<data>
					aR5exAAChxA063sCt0KbyA==
					</data>
					<key>Size</key>
					<integer>11256</integer>
				</dict>
				<key>IE7/ie7-css2-selectors.js</key>
				<dict>
					<key>Digest</key>
					<data>
					M6p8UlONLuP28avDSDncKg==
					</data>
					<key>Size</key>
					<integer>9105</integer>
				</dict>
				<key>IE7/ie7-fixed.js</key>
				<dict>
					<key>Digest</key>
					<data>
					rSP/miG/k64JMNtjZTOTEA==
					</data>
					<key>Size</key>
					<integer>4473</integer>
				</dict>
				<key>colourtag-theme-default.css</key>
				<dict>
					<key>Digest</key>
					<data>
					/BJc1i6hQ63KIS6jy/HYJw==
					</data>
					<key>Size</key>
					<integer>3129</integer>
				</dict>
				<key>colourtag.css</key>
				<dict>
					<key>Digest</key>
					<data>
					/BJc1i6hQ63KIS6jy/HYJw==
					</data>
					<key>Size</key>
					<integer>3129</integer>
				</dict>
				<key>css/content_padding/no.css</key>
				<dict>
					<key>Digest</key>
					<data>
					1B2M2Y8AsgTpgAmY7PhCfg==
					</data>
					<key>Size</key>
					<integer>0</integer>
				</dict>
				<key>css/content_padding/yes.css</key>
				<dict>
					<key>Digest</key>
					<data>
					tT9HqK1E21uBF41Lo3iNYA==
					</data>
					<key>Size</key>
					<integer>47</integer>
				</dict>
				<key>css/defaults/1100px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					JDD1cNmEtT1enb2IRhBy7Q==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/defaults/none.css</key>
				<dict>
					<key>Digest</key>
					<data>
					1B2M2Y8AsgTpgAmY7PhCfg==
					</data>
					<key>Size</key>
					<integer>0</integer>
				</dict>
				<key>css/fontfamily/century.css</key>
				<dict>
					<key>Digest</key>
					<data>
					4zAKtZ6yM4fJqfGaR4VWkw==
					</data>
					<key>Size</key>
					<integer>209</integer>
				</dict>
				<key>css/fontfamily/helvetica.css</key>
				<dict>
					<key>Digest</key>
					<data>
					fMtX+KHV8MzK51ZQr4sEAA==
					</data>
					<key>Size</key>
					<integer>257</integer>
				</dict>
				<key>css/fontfamily/monotype.css</key>
				<dict>
					<key>Digest</key>
					<data>
					XhGt+nAzdy1OrjhA6coimQ==
					</data>
					<key>Size</key>
					<integer>394</integer>
				</dict>
				<key>css/fontfamily/optima.css</key>
				<dict>
					<key>Digest</key>
					<data>
					bADb3QiXJT5bCTEJSxxwkA==
					</data>
					<key>Size</key>
					<integer>136</integer>
				</dict>
				<key>css/fontfamily/serif.css</key>
				<dict>
					<key>Digest</key>
					<data>
					mOAiv0/UGHh589EQkmtZKA==
					</data>
					<key>Size</key>
					<integer>363</integer>
				</dict>
				<key>css/fontfamily/verdana.css</key>
				<dict>
					<key>Digest</key>
					<data>
					TOSROTU/WKas+hs7vMhJzw==
					</data>
					<key>Size</key>
					<integer>331</integer>
				</dict>
				<key>css/fontsize/big.css</key>
				<dict>
					<key>Digest</key>
					<data>
					pOD+mbZR3TPDVkOFEFO6Ow==
					</data>
					<key>Size</key>
					<integer>109</integer>
				</dict>
				<key>css/fontsize/medium.css</key>
				<dict>
					<key>Digest</key>
					<data>
					HkPHWpIpKVYcBZhJsj1UEQ==
					</data>
					<key>Size</key>
					<integer>111</integer>
				</dict>
				<key>css/fontsize/small.css</key>
				<dict>
					<key>Digest</key>
					<data>
					DIE4OVFJtktw/FgUk3U2Vg==
					</data>
					<key>Size</key>
					<integer>72</integer>
				</dict>
				<key>css/footerheight/25px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					/CqqQI4AvSi6J2ZA0/zyWg==
					</data>
					<key>Size</key>
					<integer>167</integer>
				</dict>
				<key>css/footerheight/40px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					qJEM3UD2eNRIRFHt0W3eAQ==
					</data>
					<key>Size</key>
					<integer>153</integer>
				</dict>
				<key>css/footerheight/60px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					NixFJ6F97tuMYoDnRx8bEw==
					</data>
					<key>Size</key>
					<integer>153</integer>
				</dict>
				<key>css/footerheight/80px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					1hkvTb//5dLn6gypHl4dCg==
					</data>
					<key>Size</key>
					<integer>153</integer>
				</dict>
				<key>css/footerimage/hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					frqWRQMSzBfwtUqTmnrAOg==
					</data>
					<key>Size</key>
					<integer>33</integer>
				</dict>
				<key>css/footerimage/image1.css</key>
				<dict>
					<key>Digest</key>
					<data>
					s+7gOlzqOmOBf0/KraJMFw==
					</data>
					<key>Size</key>
					<integer>73</integer>
				</dict>
				<key>css/footerimage/image10.css</key>
				<dict>
					<key>Digest</key>
					<data>
					I72zF+X6YCZNhWLuGiuj5w==
					</data>
					<key>Size</key>
					<integer>74</integer>
				</dict>
				<key>css/footerimage/image2.css</key>
				<dict>
					<key>Digest</key>
					<data>
					nJxEDZ24S/wAU2SSV6u1nA==
					</data>
					<key>Size</key>
					<integer>73</integer>
				</dict>
				<key>css/footerimage/image3.css</key>
				<dict>
					<key>Digest</key>
					<data>
					db2XNw4MKj/MGiAEB9VorQ==
					</data>
					<key>Size</key>
					<integer>73</integer>
				</dict>
				<key>css/footerimage/image4.css</key>
				<dict>
					<key>Digest</key>
					<data>
					dfnNWV51BGDtkIIdXlTbJw==
					</data>
					<key>Size</key>
					<integer>73</integer>
				</dict>
				<key>css/footerimage/image5.css</key>
				<dict>
					<key>Digest</key>
					<data>
					jzLPe149VnSLGy/GJrS2mQ==
					</data>
					<key>Size</key>
					<integer>73</integer>
				</dict>
				<key>css/footerimage/image6.css</key>
				<dict>
					<key>Digest</key>
					<data>
					zFRcP0IO/ByX+WS6mbNZTQ==
					</data>
					<key>Size</key>
					<integer>73</integer>
				</dict>
				<key>css/footerimage/image7.css</key>
				<dict>
					<key>Digest</key>
					<data>
					6eQ/htrCcj1YYqmG5JgaFQ==
					</data>
					<key>Size</key>
					<integer>73</integer>
				</dict>
				<key>css/footerimage/image8.css</key>
				<dict>
					<key>Digest</key>
					<data>
					cnq4DLNrkO6qIuNtOcO76w==
					</data>
					<key>Size</key>
					<integer>73</integer>
				</dict>
				<key>css/footerimage/image9.css</key>
				<dict>
					<key>Digest</key>
					<data>
					l+29mfmw7qJqaotpGgs8CA==
					</data>
					<key>Size</key>
					<integer>73</integer>
				</dict>
				<key>css/headerimage/custom1.css</key>
				<dict>
					<key>Digest</key>
					<data>
					UuLhS9kDaLamZD7OBxGxnQ==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/headerimage/custom10.css</key>
				<dict>
					<key>Digest</key>
					<data>
					4KNiPXFB/dKdFeBq3/nqYA==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/headerimage/custom2.css</key>
				<dict>
					<key>Digest</key>
					<data>
					2XqaJ+ncbgnL9U2KmMnK2w==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/headerimage/custom3.css</key>
				<dict>
					<key>Digest</key>
					<data>
					+AVJR0FAM05i8GE85YViJg==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/headerimage/custom4.css</key>
				<dict>
					<key>Digest</key>
					<data>
					NWIVMRPUssf3incCLuxLMg==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/headerimage/custom5.css</key>
				<dict>
					<key>Digest</key>
					<data>
					FakKuLbPL5ucI842unpUcg==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/headerimage/custom6.css</key>
				<dict>
					<key>Digest</key>
					<data>
					70wuvuzUCeMTm4RB/rz6TA==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/headerimage/custom7.css</key>
				<dict>
					<key>Digest</key>
					<data>
					7MkWh50beCSattvYIK5Ktg==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/headerimage/custom8.css</key>
				<dict>
					<key>Digest</key>
					<data>
					SKPJ8eQK2e2aL5ro03b+yw==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/headerimage/custom9.css</key>
				<dict>
					<key>Digest</key>
					<data>
					9XCkEXJ/1ZyT3ySuArQXWQ==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/headerimage/none.css</key>
				<dict>
					<key>Digest</key>
					<data>
					3hFHb1m9M0SNg+Or1vGQ6g==
					</data>
					<key>Size</key>
					<integer>54</integer>
				</dict>
				<key>css/headerimage/size/0px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					tN6aBB3qYeaWG0RzDcAiXQ==
					</data>
					<key>Size</key>
					<integer>440</integer>
				</dict>
				<key>css/headerimage/size/100px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					385f2t80vMYcwSkCQfi2DA==
					</data>
					<key>Size</key>
					<integer>44</integer>
				</dict>
				<key>css/headerimage/size/140px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					B6Y+XSI9Y2Jn+q1a2gXvSg==
					</data>
					<key>Size</key>
					<integer>44</integer>
				</dict>
				<key>css/headerimage/size/180px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					VTSsvl7PfzCVt1+elh+yjQ==
					</data>
					<key>Size</key>
					<integer>44</integer>
				</dict>
				<key>css/headerimage/size/220px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					eC73+DuTtAHVl9CUfC6Y5A==
					</data>
					<key>Size</key>
					<integer>44</integer>
				</dict>
				<key>css/headerimage/size/260px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					ND6fA/uVoDld89VQQ2nK3Q==
					</data>
					<key>Size</key>
					<integer>44</integer>
				</dict>
				<key>css/headerimage/size/300px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Gl4vnH5i3747geHbitoLpw==
					</data>
					<key>Size</key>
					<integer>44</integer>
				</dict>
				<key>css/headerimage/size/60px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					dnUTyb09Ebc7BPgrBFX4vw==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>css/image_size/automatic.css</key>
				<dict>
					<key>Digest</key>
					<data>
					0Hp07B05RDVdnElL9I4PAg==
					</data>
					<key>Size</key>
					<integer>136</integer>
				</dict>
				<key>css/image_size/noresize.css</key>
				<dict>
					<key>Digest</key>
					<data>
					zamTPOC+y7YN27hQSR4kkQ==
					</data>
					<key>Size</key>
					<integer>51</integer>
				</dict>
				<key>css/iphone.css</key>
				<dict>
					<key>Digest</key>
					<data>
					3F1dkyl0iDRPr9iznRsc5w==
					</data>
					<key>Size</key>
					<integer>196</integer>
				</dict>
				<key>css/navanim/no.css</key>
				<dict>
					<key>Digest</key>
					<data>
					yOSIf1TNdWd1msDwpbYOGg==
					</data>
					<key>Size</key>
					<integer>29</integer>
				</dict>
				<key>css/navanim/yes.css</key>
				<dict>
					<key>Digest</key>
					<data>
					6U21liJb2kcermGIpY0h8Q==
					</data>
					<key>Size</key>
					<integer>33</integer>
				</dict>
				<key>css/navbar/font/family/century.css</key>
				<dict>
					<key>Digest</key>
					<data>
					2AUYlyGCX12bcoCW7/H5Ag==
					</data>
					<key>Size</key>
					<integer>93</integer>
				</dict>
				<key>css/navbar/font/family/helvetica.css</key>
				<dict>
					<key>Digest</key>
					<data>
					jbgGIYNwclDGRqFRaM0VNA==
					</data>
					<key>Size</key>
					<integer>140</integer>
				</dict>
				<key>css/navbar/font/family/monotype.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Pl2vd1sJHVNjnjyq1YaM6w==
					</data>
					<key>Size</key>
					<integer>205</integer>
				</dict>
				<key>css/navbar/font/family/optima.css</key>
				<dict>
					<key>Digest</key>
					<data>
					qYpsQ8rwViKblx5MEnkiRA==
					</data>
					<key>Size</key>
					<integer>153</integer>
				</dict>
				<key>css/navbar/font/family/serif.css</key>
				<dict>
					<key>Digest</key>
					<data>
					WUCg5d7hUgdqq7+G6pvJBQ==
					</data>
					<key>Size</key>
					<integer>100</integer>
				</dict>
				<key>css/navbar/font/family/standard.css</key>
				<dict>
					<key>Digest</key>
					<data>
					1B2M2Y8AsgTpgAmY7PhCfg==
					</data>
					<key>Size</key>
					<integer>0</integer>
				</dict>
				<key>css/navbar/font/family/verdana.css</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ti3of5TdBY7cuPDn/xqvg==
					</data>
					<key>Size</key>
					<integer>112</integer>
				</dict>
				<key>css/navbar/font/size/bigger.css</key>
				<dict>
					<key>Digest</key>
					<data>
					CTsko5wAUb391e0QuFKTfQ==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>css/navbar/font/size/biggest.css</key>
				<dict>
					<key>Digest</key>
					<data>
					+sfIdSX27+Krx+8X8yRP2w==
					</data>
					<key>Size</key>
					<integer>143</integer>
				</dict>
				<key>css/navbar/font/size/normal.css</key>
				<dict>
					<key>Digest</key>
					<data>
					1B2M2Y8AsgTpgAmY7PhCfg==
					</data>
					<key>Size</key>
					<integer>0</integer>
				</dict>
				<key>css/navbaritems/100px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					dD7hSypeUCLhUNO3+WppFQ==
					</data>
					<key>Size</key>
					<integer>38</integer>
				</dict>
				<key>css/navbaritems/110px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					/iCF/+r8amsg7/CUebU5+Q==
					</data>
					<key>Size</key>
					<integer>38</integer>
				</dict>
				<key>css/navbaritems/120px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					bac7j0MMmNqaT1pEawmfcg==
					</data>
					<key>Size</key>
					<integer>38</integer>
				</dict>
				<key>css/navbaritems/140px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					xBHoyoVs81H16Ff46cwDCg==
					</data>
					<key>Size</key>
					<integer>38</integer>
				</dict>
				<key>css/navbaritems/160px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					u/zBK0zAhrWmxkjnLeYp1A==
					</data>
					<key>Size</key>
					<integer>38</integer>
				</dict>
				<key>css/navbaritems/80px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					rCoXwCHqlhF1DaI21txNkg==
					</data>
					<key>Size</key>
					<integer>37</integer>
				</dict>
				<key>css/navbaritems/90px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					4PamHsKwPA/vIo5YhDP/iQ==
					</data>
					<key>Size</key>
					<integer>37</integer>
				</dict>
				<key>css/overlay/bodybg/bw2black.css</key>
				<dict>
					<key>Digest</key>
					<data>
					R1QScTU2Qryz5H0FRo4b4Q==
					</data>
					<key>Size</key>
					<integer>191</integer>
				</dict>
				<key>css/overlay/bodybg/bw2white.css</key>
				<dict>
					<key>Digest</key>
					<data>
					E8nFaEqIVrBPA5Vru+5tng==
					</data>
					<key>Size</key>
					<integer>191</integer>
				</dict>
				<key>css/overlay/bodybg/color2black.css</key>
				<dict>
					<key>Digest</key>
					<data>
					GrfKGirMQjODHs2Hp/oSfA==
					</data>
					<key>Size</key>
					<integer>189</integer>
				</dict>
				<key>css/overlay/bodybg/color2white.css</key>
				<dict>
					<key>Digest</key>
					<data>
					ROtNGOtHU9rHASpH+mSw1w==
					</data>
					<key>Size</key>
					<integer>208</integer>
				</dict>
				<key>css/overlay/bodybg/none.css</key>
				<dict>
					<key>Digest</key>
					<data>
					tRP7066Vv2Yi3ncawDyzOQ==
					</data>
					<key>Size</key>
					<integer>34</integer>
				</dict>
				<key>css/overlay/bottomfade/black.css</key>
				<dict>
					<key>Digest</key>
					<data>
					7ckYP8yXP5b2ZA9mdrY/eg==
					</data>
					<key>Size</key>
					<integer>73</integer>
				</dict>
				<key>css/overlay/bottomfade/none.css</key>
				<dict>
					<key>Digest</key>
					<data>
					x9/wXjjTfHueCT1z/Q5MnQ==
					</data>
					<key>Size</key>
					<integer>64</integer>
				</dict>
				<key>css/overlay/bottomfade/white.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Jd7226vx2mNigA4WGDDVaw==
					</data>
					<key>Size</key>
					<integer>73</integer>
				</dict>
				<key>css/pageheader/hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					970QXll/tJPFuhMi5zEKxg==
					</data>
					<key>Size</key>
					<integer>159</integer>
				</dict>
				<key>css/pageheader/show.css</key>
				<dict>
					<key>Digest</key>
					<data>
					KzGI+/Oc2V4qATNA9/QdQg==
					</data>
					<key>Size</key>
					<integer>74</integer>
				</dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					GbaXZ7b8jAcWP8Svz1PZHA==
					</data>
					<key>Size</key>
					<integer>105</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					RGWMWBWr9nnbnuHr+9AZzg==
					</data>
					<key>Size</key>
					<integer>191</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					HPre7bVGaF3t2uQ3Yi/Rjw==
					</data>
					<key>Size</key>
					<integer>190</integer>
				</dict>
				<key>css/sidenav/hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					XyG10AW0cmf5CHhHf3MOTQ==
					</data>
					<key>Size</key>
					<integer>31</integer>
				</dict>
				<key>css/sidenav/show.css</key>
				<dict>
					<key>Digest</key>
					<data>
					1B2M2Y8AsgTpgAmY7PhCfg==
					</data>
					<key>Size</key>
					<integer>0</integer>
				</dict>
				<key>css/tips/hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					wWLEx3w5AZ9D8UZ94gg1Fg==
					</data>
					<key>Size</key>
					<integer>30</integer>
				</dict>
				<key>css/tips/show.css</key>
				<dict>
					<key>Digest</key>
					<data>
					1B2M2Y8AsgTpgAmY7PhCfg==
					</data>
					<key>Size</key>
					<integer>0</integer>
				</dict>
				<key>css/width/580px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					KzrXeYRo0p22sv43n874Gg==
					</data>
					<key>Size</key>
					<integer>84</integer>
				</dict>
				<key>css/width/700px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					fLN8GMmRoycHvB2/k9H7NQ==
					</data>
					<key>Size</key>
					<integer>84</integer>
				</dict>
				<key>css/width/840px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					TdqeCZV762zrtkWVf8Pf9g==
					</data>
					<key>Size</key>
					<integer>84</integer>
				</dict>
				<key>css/width/980px.css</key>
				<dict>
					<key>Digest</key>
					<data>
					3yMr4+HaLW/dq3BMYNS4fw==
					</data>
					<key>Size</key>
					<integer>84</integer>
				</dict>
				<key>ie6fix.css</key>
				<dict>
					<key>Digest</key>
					<data>
					VHOk1SkRXzaZt1LzP0dN4w==
					</data>
					<key>Size</key>
					<integer>550</integer>
				</dict>
				<key>ie7fix.css</key>
				<dict>
					<key>Digest</key>
					<data>
					MYZJ3bYx7apGngS+KsMsxA==
					</data>
					<key>Size</key>
					<integer>127</integer>
				</dict>
				<key>images/border_left.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Vk6PucSCAQFOpgcYqsZMVA==
					</data>
					<key>Size</key>
					<integer>1511</integer>
				</dict>
				<key>images/border_right.png</key>
				<dict>
					<key>Digest</key>
					<data>
					JlHhjpbNeU+RhEU8obiJPQ==
					</data>
					<key>Size</key>
					<integer>1564</integer>
				</dict>
				<key>images/bubble.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DCk0/qQprwpsuxNbXMqh1Q==
					</data>
					<key>Size</key>
					<integer>1058</integer>
				</dict>
				<key>images/fades/bg2black.png</key>
				<dict>
					<key>Digest</key>
					<data>
					F59iG0O7Ora+ynl86GOaMw==
					</data>
					<key>Size</key>
					<integer>576</integer>
				</dict>
				<key>images/fades/bg2white.png</key>
				<dict>
					<key>Digest</key>
					<data>
					R7VNkxYpXvtjCVU+/YAOow==
					</data>
					<key>Size</key>
					<integer>580</integer>
				</dict>
				<key>images/fades/bgsw2black.png</key>
				<dict>
					<key>Digest</key>
					<data>
					NlzP85jIN14PvoVmelpXBA==
					</data>
					<key>Size</key>
					<integer>199</integer>
				</dict>
				<key>images/fades/bgsw2white.png</key>
				<dict>
					<key>Digest</key>
					<data>
					hRaLge4efJNTffs01VNUKQ==
					</data>
					<key>Size</key>
					<integer>196</integer>
				</dict>
				<key>images/fades/transblack.png</key>
				<dict>
					<key>Digest</key>
					<data>
					P5inEEMwj7VL4MI7v56BBA==
					</data>
					<key>Size</key>
					<integer>545</integer>
				</dict>
				<key>images/fades/transwhite.png</key>
				<dict>
					<key>Digest</key>
					<data>
					EnZCyaN73jyOKKS9HcQNaw==
					</data>
					<key>Size</key>
					<integer>3181</integer>
				</dict>
				<key>images/footer/image1.png</key>
				<dict>
					<key>Digest</key>
					<data>
					wFCD6hmYPTUNrQCYrTGCNg==
					</data>
					<key>Size</key>
					<integer>264246</integer>
				</dict>
				<key>images/footer/image10.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BCMevDY7OxzCI7eEXLQeQA==
					</data>
					<key>Size</key>
					<integer>5187</integer>
				</dict>
				<key>images/footer/image2.png</key>
				<dict>
					<key>Digest</key>
					<data>
					CBkT0iUdb4JtGNDqDuQtyg==
					</data>
					<key>Size</key>
					<integer>21746</integer>
				</dict>
				<key>images/footer/image3.png</key>
				<dict>
					<key>Digest</key>
					<data>
					GwGKsbRhgVDZ1iCKE1KpwQ==
					</data>
					<key>Size</key>
					<integer>12500</integer>
				</dict>
				<key>images/footer/image4.png</key>
				<dict>
					<key>Digest</key>
					<data>
					hCprI7HMPX3L2SJtHEk2jQ==
					</data>
					<key>Size</key>
					<integer>4685</integer>
				</dict>
				<key>images/footer/image5.png</key>
				<dict>
					<key>Digest</key>
					<data>
					jBKT9vnJD4dUVdLxgGHVwQ==
					</data>
					<key>Size</key>
					<integer>4620</integer>
				</dict>
				<key>images/footer/image6.png</key>
				<dict>
					<key>Digest</key>
					<data>
					R4T/bi4V1oa+5OC+gINluw==
					</data>
					<key>Size</key>
					<integer>7554</integer>
				</dict>
				<key>images/footer/image7.png</key>
				<dict>
					<key>Digest</key>
					<data>
					IoGm9SzUkRFXVjwl3485fw==
					</data>
					<key>Size</key>
					<integer>22361</integer>
				</dict>
				<key>images/footer/image8.png</key>
				<dict>
					<key>Digest</key>
					<data>
					yBkbRG3HQMOxJT2Yw3KBrg==
					</data>
					<key>Size</key>
					<integer>13426</integer>
				</dict>
				<key>images/footer/image9.png</key>
				<dict>
					<key>Digest</key>
					<data>
					/16eeQxPD2kXN2ZTgpRagg==
					</data>
					<key>Size</key>
					<integer>5453</integer>
				</dict>
				<key>images/header/image01.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					w0HvOGpdrZvvYYShOYVNjQ==
					</data>
					<key>Size</key>
					<integer>49278</integer>
				</dict>
				<key>images/header/image02.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					t8FNDwQY55clWZXfj5ZiRQ==
					</data>
					<key>Size</key>
					<integer>51131</integer>
				</dict>
				<key>images/header/image03.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					uQZud4xIGn1hfVgihqUB5A==
					</data>
					<key>Size</key>
					<integer>88026</integer>
				</dict>
				<key>images/header/image04.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					17Fhc0DhqZlY33l97jlUZw==
					</data>
					<key>Size</key>
					<integer>17572</integer>
				</dict>
				<key>images/header/image05.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					kuW7+Q5uAf2a6Jh+BDY7fA==
					</data>
					<key>Size</key>
					<integer>12658</integer>
				</dict>
				<key>images/header/image06.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					wxaF3TYmT8eZN2Pfq0QeMg==
					</data>
					<key>Size</key>
					<integer>8930</integer>
				</dict>
				<key>images/header/image07.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					QpiuV8Zbzzyschyp42A31Q==
					</data>
					<key>Size</key>
					<integer>10606</integer>
				</dict>
				<key>images/header/image08.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					829HgAKoRemom5bc7xM8Ww==
					</data>
					<key>Size</key>
					<integer>16595</integer>
				</dict>
				<key>images/header/image09.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					xaBo6EvPZpwqfHNlit9VIg==
					</data>
					<key>Size</key>
					<integer>14810</integer>
				</dict>
				<key>images/header/image10.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					oHoP+AfKm3ULJYy3CauiZg==
					</data>
					<key>Size</key>
					<integer>13746</integer>
				</dict>
				<key>images/x.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					MlRyYBVx8x4b8AZ0w2jTNQ==
					</data>
					<key>Size</key>
					<integer>43</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					LW2n93z53RlBBuVqhbaQ0w==
					</data>
					<key>Size</key>
					<integer>15510</integer>
				</dict>
				<key>js/menu.js</key>
				<dict>
					<key>Digest</key>
					<data>
					aZeVTO0fCRe1v+2lnA3eCw==
					</data>
					<key>Size</key>
					<integer>3448</integer>
				</dict>
				<key>js/mootools.js</key>
				<dict>
					<key>Digest</key>
					<data>
					JvYpJaOjHHrAIPCNXhrj5Q==
					</data>
					<key>Size</key>
					<integer>26432</integer>
				</dict>
				<key>js/pngfix.js</key>
				<dict>
					<key>Digest</key>
					<data>
					fnxzWdhEaWr7z4GQIXV2Wg==
					</data>
					<key>Size</key>
					<integer>2054</integer>
				</dict>
				<key>js/reflection.js</key>
				<dict>
					<key>Digest</key>
					<data>
					mOanlIx9vPkz0XTUkr85FA==
					</data>
					<key>Size</key>
					<integer>2775</integer>
				</dict>
				<key>js/setup.js</key>
				<dict>
					<key>Digest</key>
					<data>
					mmZRHBOhc9MYzjlo2YhMmw==
					</data>
					<key>Size</key>
					<integer>471</integer>
				</dict>
				<key>js/tips.js</key>
				<dict>
					<key>Digest</key>
					<data>
					dub1iZ6bJZezDqtfg+GLPg==
					</data>
					<key>Size</key>
					<integer>150</integer>
				</dict>
				<key>mediabox/images/1_close.png</key>
				<dict>
					<key>Digest</key>
					<data>
					c71879MvqQiJDzO28zzb4w==
					</data>
					<key>Size</key>
					<integer>774</integer>
				</dict>
				<key>mediabox/images/1_loading.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					rIr2o+ZyLQj1+ps74jeygw==
					</data>
					<key>Size</key>
					<integer>21635</integer>
				</dict>
				<key>mediabox/images/1_next.png</key>
				<dict>
					<key>Digest</key>
					<data>
					ALfqiA8THUVXFf9GGWs0gA==
					</data>
					<key>Size</key>
					<integer>562</integer>
				</dict>
				<key>mediabox/images/1_prev.png</key>
				<dict>
					<key>Digest</key>
					<data>
					w7MxDxAo9698tOs23DEgNA==
					</data>
					<key>Size</key>
					<integer>553</integer>
				</dict>
				<key>mediabox/js/mediabox72.js</key>
				<dict>
					<key>Digest</key>
					<data>
					RpKZ4qyTywk3V3/oLFyFLA==
					</data>
					<key>Size</key>
					<integer>24022</integer>
				</dict>
				<key>mediabox/js/swfobject.js</key>
				<dict>
					<key>Digest</key>
					<data>
					FuL6MB/U5W8Uz+bDHtE0vQ==
					</data>
					<key>Size</key>
					<integer>10977</integer>
				</dict>
				<key>mediabox/mediabox.css</key>
				<dict>
					<key>Digest</key>
					<data>
					mpvn4t/y+A9T2bEfYnnTvQ==
					</data>
					<key>Size</key>
					<integer>1200</integer>
				</dict>
				<key>mediabox/mediaplayer/mediaplayer.swf</key>
				<dict>
					<key>Digest</key>
					<data>
					ae+OKXpv2C6FzRgNtQJwyA==
					</data>
					<key>Size</key>
					<integer>40768</integer>
				</dict>
				<key>mediabox/mediaplayer/swfobject.js</key>
				<dict>
					<key>Digest</key>
					<data>
					ZtQexwkLvd6H4JownepmYQ==
					</data>
					<key>Size</key>
					<integer>6880</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					mGJj2B2AxRFTmvMKDQuGGw==
					</data>
					<key>Size</key>
					<integer>3653</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					WCG2Wxx2mUuiW7tGpr5oag==
					</data>
					<key>Size</key>
					<integer>13911</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:djr_sphere</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
