<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page13</key>
		<dict>
			<key>CreationDate</key>
			<date>2016-07-06T01:11:06Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>93DFB54E-0E78-4D9E-B292-5113BDDEF2AF</string>
			<key>PageDigests</key>
			<dict>
				<key>front-cover.html</key>
				<dict>
					<key>Digest</key>
					<data>
					OPjJFFDY5zptLqwiKXUJNQ==
					</data>
					<key>Size</key>
					<integer>5117</integer>
				</dict>
				<key>front-cover_files/rtw-cover.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					oGJq/1xX43aq0fyxC8tBnA==
					</data>
					<key>Size</key>
					<integer>122215</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page13</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page14</key>
		<dict>
			<key>CreationDate</key>
			<date>2016-07-06T01:11:06Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>93DFB54E-0E78-4D9E-B292-5113BDDEF2AF</string>
			<key>PageDigests</key>
			<dict>
				<key>back-cover.html</key>
				<dict>
					<key>Digest</key>
					<data>
					YzY2TT4xHMPTasKSJGwGrw==
					</data>
					<key>Size</key>
					<integer>5113</integer>
				</dict>
				<key>back-cover_files/rtw-back.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					61CVqAa3w5vfK0PKX7yI6A==
					</data>
					<key>Size</key>
					<integer>195048</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page14</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page15</key>
		<dict>
			<key>CreationDate</key>
			<date>2016-07-06T01:11:06Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>93DFB54E-0E78-4D9E-B292-5113BDDEF2AF</string>
			<key>PageDigests</key>
			<dict>
				<key>contents-1.html</key>
				<dict>
					<key>Digest</key>
					<data>
					BRxfTBGA2eSXaeleX/EKDA==
					</data>
					<key>Size</key>
					<integer>5131</integer>
				</dict>
				<key>contents-1_files/rwt-page1.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					yoqijkjRefj74RLyTPCBAQ==
					</data>
					<key>Size</key>
					<integer>202962</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page15</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page16</key>
		<dict>
			<key>CreationDate</key>
			<date>2016-07-06T01:11:06Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>93DFB54E-0E78-4D9E-B292-5113BDDEF2AF</string>
			<key>PageDigests</key>
			<dict>
				<key>contents-2.html</key>
				<dict>
					<key>Digest</key>
					<data>
					f3Kwxl7ySjSJvc07llFQ9Q==
					</data>
					<key>Size</key>
					<integer>5126</integer>
				</dict>
				<key>contents-2_files/rtw-page3.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					UiaXduCzxubEJYe3ezeaFA==
					</data>
					<key>Size</key>
					<integer>196306</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page16</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page18</key>
		<dict>
			<key>CreationDate</key>
			<date>2016-07-06T01:11:06Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>93DFB54E-0E78-4D9E-B292-5113BDDEF2AF</string>
			<key>PageDigests</key>
			<dict>
				<key>earl_on_rtw.html</key>
				<dict>
					<key>Digest</key>
					<data>
					LL30HFEEkztF5Q9gscU0lg==
					</data>
					<key>Size</key>
					<integer>8307</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page18</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
