<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page5</key>
		<dict>
			<key>CreationDate</key>
			<date>2016-07-06T01:11:08Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>93DFB54E-0E78-4D9E-B292-5113BDDEF2AF</string>
			<key>PageDigests</key>
			<dict>
				<key>files/category-history.php</key>
				<dict>
					<key>Digest</key>
					<data>
					Y8CCMF9Fa0FhkRhdpCueaw==
					</data>
					<key>Size</key>
					<integer>10616</integer>
				</dict>
				<key>files/category-politics.php</key>
				<dict>
					<key>Digest</key>
					<data>
					yhreOXwsaIktrIaUmALfZQ==
					</data>
					<key>Size</key>
					<integer>13516</integer>
				</dict>
				<key>files/churchill.php</key>
				<dict>
					<key>Digest</key>
					<data>
					zpMiEHxSAhwr3hQTFlI61g==
					</data>
					<key>Size</key>
					<integer>9993</integer>
				</dict>
				<key>files/dscn2397_1.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					+czkwBp5sc9kZ7SmAuW0lQ==
					</data>
					<key>Size</key>
					<integer>119157</integer>
				</dict>
				<key>files/federalism.php</key>
				<dict>
					<key>Digest</key>
					<data>
					/YUmbqhEiW4v96rjBnKojA==
					</data>
					<key>Size</key>
					<integer>10723</integer>
				</dict>
				<key>files/fix-the-debt.php</key>
				<dict>
					<key>Digest</key>
					<data>
					YAZOwGRnEJg+oC60eUAKLA==
					</data>
					<key>Size</key>
					<integer>12435</integer>
				</dict>
				<key>files/lincoln.php</key>
				<dict>
					<key>Digest</key>
					<data>
					2CkRe79O4/yLJxzT4tQkzA==
					</data>
					<key>Size</key>
					<integer>8755</integer>
				</dict>
				<key>files/pasted-graphic.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					0SUFkWSaqiQ3j0VuY9szKQ==
					</data>
					<key>Size</key>
					<integer>201574</integer>
				</dict>
				<key>files/picture-taker-hjgtzl.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					sLqWdj7ggR3DAzAa9gYFMA==
					</data>
					<key>Size</key>
					<integer>38905</integer>
				</dict>
				<key>files/picture-taker-t0d2ca.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					EigRrP9u8hzt079B1TGbEg==
					</data>
					<key>Size</key>
					<integer>39078</integer>
				</dict>
				<key>files/rss.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					zZxB1iHiRpbRrD8J9mFsKA==
					</data>
					<key>Size</key>
					<integer>11988</integer>
				</dict>
				<key>files/sidebar-content.html</key>
				<dict>
					<key>Digest</key>
					<data>
					bVaKuXckAecKqll1Ce8eMA==
					</data>
					<key>Size</key>
					<integer>408</integer>
				</dict>
				<key>index.php</key>
				<dict>
					<key>Digest</key>
					<data>
					5JIfn2Yt7Tzn+N0o29RHWQ==
					</data>
					<key>Size</key>
					<integer>16108</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page5</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
