body {
	font-family: Verdana, "Bitstream Vera Sans", "Vera Sans", Tahoma, Geneva, sans-serif;
}

#pageHeader h1 {
	position: relative;
	font-size: 32px;
	margin: -6px auto 0px;
	top: -0px;
}

#pageHeader h2 {
	font-size: 18px;
	margin-top: -2px;
	height: 20px;
}

.tool-title {
	font-size: 9px;
}
 
.tool-text {
	font-size: 9px;
}
